/*beauty css*/
@font-face {
  font-family: kng;
  src: url(Kind_and_Rich.otf);
}

.container{
	position: relative;
}

#title{
	margin-top: 120px;
	margin-bottom: 20px;
	height: 400px;
	width: 100%;
	text-align: center;
	font-size: 30px;
	color: purple;
	background-image:url('../images/beauty.jpg');
	filter: blur(2.5px);
	background-position: center;
    background-repeat: no-repeat;
 	background-size: cover;

}

#title1{
	margin-top: 50px;
	margin-bottom: 0;
	margin-left: 25%;
	font-family: kng;
	font-size: 78px;
	text-align: center;
	width: 100%;
	color: #7e5c88;
	padding-bottom: 40px;
}

#inside{
	height: 55px;
    width: 100%;
    border-color: #979797;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 0;
    margin-bottom: 13px;
}

#inside a{
	padding-right: 20px;
	text-align: center;
	color: #96739f;
	text-decoration: none;

}

#inside a:hover{
	color: purple;
	text-decoration: none;
}
.leftContainer{
	float: left;
}

.rightContainer{
	float: right;
	background-image: radial-gradient(white, #d4af37);
}
.rightContainer h3 , .leftContainer h3{
	padding-left: 10px;
	margin-right: 10px;
	color: purple;
	font-size: 25px;
	font-weight: normal;


}
.rightContainer p,.leftContainer p{
padding-top: 20px;
padding-left: 10px;
margin-right: 10px;
font-size: 14px;
}
.right{
	float: right;
	color: purple;
	font-size: 12px;

}
#dataEP, #dataEP2{
	float: right;
	font-size: 12px;
}
#audio {
	padding-top: 30px;
	padding-left: 15px;
}
#audio2 {
	padding-top: 15px;
	padding-left: 350px;
}
.story2 {
	background-image: radial-gradient(white,grey);
	margin-bottom: 40px;
}
.titles{
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #96739f;
    font-weight: normal;
}
#skin{
	margin-top: 30px;
	height: 480px;
	width: 100%;
	background-color: pink;

}
#skin h3{
	padding-top: 10px;
	font-weight: normal;
	font-size: 30px;
}
#skin p{
	line-height: 1.6;
	margin-right: 10px;
}
#skin .photoCircle{
  width: 38%; height: 72%;
  min-width: 150px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-right:3rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}
#skin2{
	margin-top: -30px;
	height: 480px;
	width: 100%;
	background-color: #96739f;
	margin-bottom: 40px;

}
#skin2 h3{
	margin-left: 10px;
	padding-top: 10px;
	font-weight: normal;
	font-size: 30px;
}
#skin2 p{
	line-height: 1.6;
	margin-left: 20px;
}
#skin2 .photoCircle2{
	 width: 38%; height: 75%;
	 min-width: 150px;
	 float: right;
	 margin-top: 20px;
	 margin-right: 20px;
	 margin-left:2rem; 
	 border-radius: 50%;
	 -webkit-shape-outside:circle();
	 shape-outside:circle();
}
#hair{
	margin-top: 30px;
	height: 555px;
	width: 100%;
	background-color: pink;

}
.grid-container {
	margin-left: 10%;
	display: inline-grid;
    grid-template-columns: auto auto auto auto;


}
.grid-item {
 
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  height: 200px;
  font-size: 30px;
  text-align: center;

}
.item1{
	background-image: url("../images/slide_.jpg");
	border-right:1px solid rgba(0, 0, 0, 0.8);

}
.item2{
	background-image: url("../images/slide_1.jpg");
	border-right:1px solid rgba(0, 0, 0, 0.8);
}
.item3{
	background-image: url("../images/slide_2.jpg");
	border-right:1px solid rgba(0, 0, 0, 0.8);
}
.item4{
	background-image: url("../images/slide_3.jpg");
}
#hair h3{
	padding-top: 10px;
	text-align: center;
	font-size: 25px;
	font-weight: normal;
}
#hair p{
	margin: 10px 10px;
	font-size: 15px;
	font-weight: normal;

}
#cnt{
	text-align: center;
}
