h1{
	text-align: center;
    font-weight: normal;
    color: #96739f;
}

.projectDiv{

	width: 25%;
   margin-right: 35px;

}
#h2{
	font-weight: normal;
}

#works {
display: flex;
margin-top: 50px;

}


.projectDiv h4{
  font-weight: normal;
}

.projectDiv h3{
	font-size: 1em;
}
.projectDiv a{
	text-decoration: none;
	color: #7e5c88;
}

#img{
	margin-top: 20px;
	width: 1000px;
}

ol{
	display: flex;
	flex-direction: row;
	
}

.news-post{
	width: 33.3%;
	margin-right: 100px;

}


.news-post p{
	font-size: 10px;
}


.news-post img{
	margin-bottom: 20px;
}
 

 .news-post a{
 	text-decoration: none;
/*  	padding: 0;  */
 
 font-size: 14px;

}
.news-post h4{
margin: 0;
padding: 0;
}
 #r{
 	       padding: 5px;
           color: white;
           width:fit-content;
           height:fit-content;
           background-color: #7e5c88;
           text-decoration: none;
           border-radius: 15px; 
           font-size: 10px;
 	 -ms-transform: rotate(5deg); /* IE 9 */
  transform: rotate(5deg); /* Standard syntax */

 }
#tv{
	 transform: rotate3d(0, 1, 0, 60deg);
	 margin-top: 30px;
	 margin-left: -250px;
	 border : 1px solid black;
	 background-image: url('../images/c15.jpg');
	 
	 background-size: cover;
    clear: both;
    width: 100%;
 
   

}
#tv img{
	padding: 20px;
	box-sizing: border-box;
	margin-top: 60px;
	margin-bottom: 60px;
	
}
#tv h6{
	font-weight: normal;
	color: #7e5c88;
	margin-left: 250px;

}


#tv h4{
font-weight: normal;
color: black;
}

.tvandmovies{
	display: flex;
	flex-direction: row;
	margin-left: 95px;


}
.day { background: url('../images/c13.jpg'); 

background-size: cover ; }
.afternoon { background: url('../images/c12.jpg');

background-size: cover ; }
.night { background: url('../images/c14.jpg');
background-size: cover ;  }
#ndrysho{
	margin-top: 20px;
	border: 1px solid black;
    background-color: transparent;
    padding: .25rem .5rem;
    line-height: 1;
    color: black;
    font-size: 12px;
    outline: none;
    cursor: pointer;
 
}


#tmtxt{
	font-weight:  normal;
	margin-top: 50px;
	margin-bottom: 0;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: black;
}
