/*fashion css*/
#title{
	font-size: 30;
	margin-top: 130px;
	text-align: center;
	color: #7e5c88;
}
#linkat  {
  border-bottom: 1px solid #979797;
  padding-bottom: 12px;
  padding-top: 10px;

   }
  #linkat a {
    text-decoration: none;
    padding: 2em;
    font-family: georgia;
  }


 #view, #model, #trend {
 	text-align: center;
	padding-top: 5px;
	border-bottom: 1px solid #979797;
	padding-bottom: 20px;
  font-family: georgia;
  text-shadow: 6px 4px 6px #7e5c88;

 }
 #c, #street {
 	text-align: center;
	padding-top: 1px;
  border-bottom: 1px solid #979797;
  padding-bottom: 20px;
  font-family: georgia;
  text-shadow: 6px 4px 6px #7e5c88;
 }
 /*
 #street {
 	text-align: center;
 	border-top:  0.5px solid #979797;
	padding-top: 20px;
 }
 #model {
 	text-align: center;
 	border-top:  0.5px solid #979797;
	padding-top: 20px;
 }
 #design {
 	text-align: center;
 	border-top:  0.5px solid #979797;
	padding-top: 20px;
 }
 #trend {
 	text-align: center;
 	border-top:  0.5px solid #979797;
	padding-top: 20px;
 }*/
 #pjesa2
          {     
              height: 400px;
              margin: 3px 0px 0px 0px;
              background-color: white;
              padding: 10px 5px;
            
              
          }
  .forth
          {
              margin: 5px 0px 0px 0px;
              width:24%;
              height: 300px;
              text-align: center;
              display: inline-block;
              padding: 0px;
                
          }

  #teksti { font-size: 12px;
                      color: #979797;
                      line-height: 20px;
                      margin-bottom: 20px;

  }
   .more a{
           padding: 5px;
           color: white;
           width:fit-content;
           height:fit-content;
           background-color: #7e5c88;
           text-decoration: none;
           border-radius: 15px; 
            }
#pjesa3
          {     
              height: 320px;
              margin: 3px 0px 0px 0px;
              background-color: white;
              padding: 10px 5px;
            
              
          }
      .shadow {
  
    padding-bottom: 20px;
    display: flex;
    background: #fff;
    position: relative;
    border-bottom: 0.5px solid #e0e0e0;
    width: 100%;
  
}
.shadow::before {
    content: "";
    height: 10px;
    width: 80%;
    margin: 0 10%;
    position: absolute;
    bottom: 1px;
    z-index: -5;
    -webkit-box-shadow: 0 1px 2px #cacaca, 0 4px 5px #cacaca;
    -moz-box-shadow: 0 1px 2px #cacaca, 0 4px 5px #cacaca;
    box-shadow: 0 1px 2px #cacaca, 0 4px 5px #cacaca;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

}
#button {
  border-radius: 100%;
  font-size: georgia;
  color: white;
  font-style: italic;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #7e5c88;

}
 #pjesaLast
          {     
             
              margin: 3px 0px 0px 0px;
              background-color: white;                     
          }
  .last
          {   
              margin: 5px 0px 0px 0px;
              width:24%;
              height: 100px;
              text-align: center;
              display: inline-block;
              padding-left: 5em;
              padding-right: 5em;
                
          }

 #vsubscribe
          {     
              height: 180px;
              margin: 3px 0px 0px 0px;
              background-color: white;
              padding: 10px 5px;
              text-align: center;
           
              
          }
  .sublast
          {   
              margin: 5px 0px 0px 0px;
              width:24%;
              height: 100px;
              text-align: center;
              display: inline-block;
              color: black;
              font-size: 28px;

                
          }
#vsub {
  padding-left: 40px;
  padding-right: 10px;
  border-right: 2px solid black;
  display: inline-block;
  color: black;
  font-size: 20px;

}
#foot {
  background-color: lightgray;
  padding-top: 10px;
  height: 400px;
  width: 1000px;
  padding-left: 10px;
}

.contact1{
  width: 226px;
  float: left;
  padding-right: 15px;
  padding-bottom: 30px; 
  padding-left: 10px;

}

.contact1 h4{
  font-size: 24px;
  color: #999999;
  padding-bottom: 1em;
  font-weight: bold;
  }

