/*fashion css*/
body      {
            width: 1000px;
            font-family: georgia;
            border-top: 5px solid #7e5c88;
            margin: 0 auto;

           }
     a { text-decoration: none;
         padding: 1rem; }