
footer{
 padding-top: 50px;
}
.footer-content-1 a{
  text-decoration: none;
     color: #7e5c88;

 }
.footer-content-1  p,a{
  color: #999999;
  font-size: 10px;
  line-height: 1.5;

}
.tweets{
  margin-left: 10px;
}
/* pozicionimi i diiv elementeve */
.footer-content-1{
  margin-right: 10px;
  width: 226px;
  float: left;
  padding-right: 5px;
  padding-bottom: 50px; 
  padding-left: 5px;

}

.footer-content-1 h1{
  font-size: 12px;
  color: #999999;
  padding-bottom: 1em;
  font-weight: bold;
  }

.footer-content-1 h1 span {
  font-weight: normal;
  font-size: 10px;

}
.clearBoth { clear:both; }

.copyright {
 padding: 5px;
 color: #999999;
 font-size: 10px;
 line-height: 1.5;


}
.footer-content-1 ul{
  padding: 0px;
  margin-top: 0px;
}
.footer-content-1 li{
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid #e0e0e0;
  border-width: 1px;

}
.copyright span{
  float:right;
}
#rm{
  float: right;
  margin-right: 30px;
}
/* ndarja e seksioneve te faqes krijimi i hijes eliptike */
.shadow {
  
    padding-bottom: 20px;
    display: flex;
    background: #fff;
    position: relative;
    border-bottom: 0.5px solid #e0e0e0;
    width: 100%;
  
}

.shadow::before {
    content: "";
    height: 10px;
    width: 80%;
    margin: 0 10%;
    position: absolute;
    bottom: 1px;
    z-index: -5;
    -webkit-box-shadow: 0 1px 2px #cacaca, 0 4px 5px #cacaca;
    -moz-box-shadow: 0 1px 2px #cacaca, 0 4px 5px #cacaca;
    box-shadow: 0 1px 2px #cacaca, 0 4px 5px #cacaca;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

}
.contact{
  margin-left: 15px;
}
.social {
  margin-left: -10px;
}
.social ul{
  margin-top: 20px;
}
.social li{
  padding:8px;
  padding-left: 0px;
}
.social li:first-child{
  padding-top: 0px;
}
.social li:not(:first-child) {
  padding-top: 10px;
}
footer nav ul li span{
  padding-left: 3px;
  font-size: 10px;
  color: #7e5c88;

}

/* kriijimi i ikonave te mediave sociale*/

.fa {
  padding: 6px;
  padding-bottom: 2px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  background:#7e5c88;
  opacity: 0.8;
}
.fa-linkedin {
  background: #999999;
  color: white;
  opacity: 0.8;

}
.fa-twitter {
  background: #999999;
  color: white;
  opacity: 0.8;

}
.fa-pinterest {
  background: #999999;
  color: white;
  opacity: 0.8;

}
.fa-rss {
  background: #999999;
  color: white;
  opacity: 0.8;

}