body      {
    width: 1000px;
    font-family: georgia;
    border-top: 5px solid #7e5c88;
    margin: 0 auto;

 		}

 header    {
	padding: 0px 20px;
	margin-bottom: 31px;
	}
	
#title1{ 
	margin-left: 10px; 
	transition: all .4s ease-in; 
 }

#title1:hover{
	 transform: scale(1.1);

}

header hgroup   {
	width: 175px;
	float: left;
	margin: 40px 0px 0px 0px;
	}

header hgroup h2 {
	font-size: 32px;
	color: #96739f;
	margin: 0px 0px 12px 0px;
	}

header hgroup h3 {
	font-size: 12px;
	color: #979797;
	}

header nav {
	width: 653px;
	float: right;
	}

header nav a  {
	float: left;
	margin-right: 0px;
	text-decoration: none;
	font-size: 13px;
	color: #979797;
	padding: 53px 19px 33px 19px;
	display: inline-block;
	transition: all 0.4s ease-in;
                  }

header nav a:hover {
	background: #7e5c88;
	color: #fff;


	}
