body      {
            width: 1000px;
            font-family: georgia;
            border-top: 5px solid #7e5c88;
            margin: 0 auto;

           }
header    {
	        padding: 0px 20px;
	        margin-bottom: 55px;
            }
header hgroup   {
	             width: 175px;
	             float: left;
	             margin: 40px 0px 0px 0px;
                 }
header hgroup h2 {
	              font-size: 32px;
	              color: #96739f;
	              margin: 0px 0px 12px 0px;
                  }
header hgroup h3 {
	               font-size: 12px;
	               color: #979797;
                  }
header nav       {
	              width: 653px;
	              float: right;
                  }
header nav a     {
                  text-decoration: none;
                  font-size: 13px;
                  color: #979797;
                  padding: 53px 19px 33px 19px;
                  display: inline-block;
                  }
header nav a:hover {
	                background: #7e5c88;
	                color: #fff;
                    }

#banner .image-caption {
	                    width: 313px;
	                    float: left;
	                    padding-top: 33px;
                        }
.image-caption h1      {
                        font-size: 46px;
                        margin-bottom: 30px;
                        }
.image-caption p       {
	                    font-size: 12px;
	                    color: #979797;
	                    line-height: 20px;
	                    margin-bottom: 20px;
                        }
.image-caption a       {
	                    text-decoration: none;
	                    color: #fff;
	                    background: #7e5c88;
	                    width: 106px; /*140-17-17 */
	                    padding: 12px 17px;
	                    border-radius: 20px;
                        }
 /*Seksioni banner */
#banner .div-circle    {
	                    width: 330px;
	                    height: 330px;
	                    background-image: url(../images/Blush-Roses.jpg);
	                    border-radius: 190px;
	                    border: 25px solid #7e5c88;
	                    float: right;
}

.clearFix              {
	                    clear: both;
                        }
#works .projectDiv     {
	                    float: left;
	                    margin-right: 20px;
}
#works .projectDiv h3  {
	                    color: #333;
	                    background: #eee;
	                    font-size: 12px;
	                    width: 225px;
	                    padding: 13px 0;
	                    text-align: center;
	                    font-weight: bold;
                        }
#works .projectDiv h4  {
                         color: #979797;
                         background: #eee;
                         font-size: 12px; 
                         width: 225px;
                         padding: 13px 0;
                         text-align: center;
                        
                         }
#work                  {
	                    overflow: hidden;
                        }

.projectDiv            {
		                overflow: hidden;
	                    width: 166.2px;
	                    width: 23.437%;
	                    float: left;
	                    margin: 28px 20px auto auto;
	                    margin: 38px 2.08% auto auto;
	                    background-color: #eeeeee;
                        }

.latest-project-work-img{
	                     width: 225px;
		                 height: 225px;
	                     position: relative;
	                     left: 50%;
	                     -webkit-transform: translate(-50%, 0);	
	                     -ms-transform: translate(-50%, 0);	
	                     -moz-transform: translate(-50%, 0);	
	                     -o-transform: translate(-50%, 0);
	                     transform: translate(-50%, 0);
                         }
.desc, .latest-title    {
	                     font-size: 0.75em;
	                     text-align: center;
	                     padding: 12px;
	                     color: #979797;
	                     text-transform: capitalize;
                         }

.latest-work-title      {
	                     padding: 58px 0 10px 0;
	                     border-bottom: 1px solid #e6e6e6;
	                     text-transform: capitalize;
	                     font-weight: 100;
                         }

.latest-title           {
                         font-weight: bold;
                         color: #333;
                         }
.projectDiv:hover       {
	                     background: #7e5c88;
	                     color: #fff;
                         }

.latest-a                {
	                     text-decoration: none;
                         }
footer                 {
                         padding-top: 50px;
                         }
footer a               {
                         text-decoration: none;
                         }

footer nav ul li{
	list-style: none; 

}

footer  p,a{
	color: #999999;
	font-size: 8px;
}

.footer-content-1{
	width: 219px;
	float: left;
	padding-right: 22px;
	padding-bottom: 50px; 
	padding-left: 5px;

}

.footer-content-1 h1{
	font-size: 10px;
	color: #999999;
	padding-bottom: 1em;
	font-weight: bold;
	}

.footer-content-1 h1 span {
	font-weight: normal;

}
.clearBoth { clear:both; }

footer .copyright {
	    padding: 20px;


}
.copyright span{
	float:right;
}
