body      {
            width: 1000px;
            font-family: georgia;
            border-top: 5px solid #7e5c88;
            margin: 0 auto;

           }
header    {
	        padding: 0px 20px;
	        margin-bottom: 51px;
            }
header hgroup   {
	             width: 175px;
	             float: left;
	             margin: 40px 0px 0px 0px;
                 }
header hgroup h2 {
	              font-size: 32px;
	              color: #96739f;
	              margin: 0px 0px 12px 0px;
                  }
header hgroup h3 {
	               font-size: 12px;
	               color: #979797;
                  }
header nav       {
	              width: 653px;
	              float: right;
                  }
header nav a     {
                  text-decoration: none;
                  font-size: 13px;
                  color: #979797;
                  padding: 53px 19px 33px 19px;
                  display: inline-block;
                  }
header nav a:hover {
	                background: #7e5c88;
	                color: #fff;

                    }
#banner {
	      padding: 0px 6.25%;


          }
#banner {
	padding: 0px 6.25%;
	padding-bottom: 40px;

}
#banner .image-caption {
	                    width: 313px;
	                    float: left;
	                    padding-top: 33px;
	                    
                        }
.image-caption h1      {
                        font-size: 46px;
                        margin-bottom: 30px;
                        }
.image-caption p       {
	                    font-size: 12px;
	                    color: #979797;
	                    line-height: 20px;
	                    margin-bottom: 20px;
                        }
.image-caption a       {
	                    text-decoration: none;
	                    color: #fff;
	                    background: #7e5c88;
	                    width: 106px; /*140-17-17 */
	                    padding: 12px 17px;
	                    border-radius: 20px;
                        }

 /*Seksioni banner */
#banner .div-circle    {
	                    width: 330px;
	                    height: 330px;
	                    background-image: url(../images/Blush-Roses.jpg);
	                    border-radius: 190px;
	                    border: 25px solid #7e5c88;
	                    float: right;

}

.clearFix              {
	                    clear: both;
                        }
                        /*
#works h2 {
	color: #333;
	font-size: 16px;
	margin-bottom: 50px;
}
#works .projectDiv     {
	                    float: left;
	                    margin-right: 20px;
}
#works .projectDiv h3  {
	                    color: #333;
	                    background: #eee;
	                    font-size: 12px;
	                    width: 225px;
	                    padding: 13px 0;
	                    text-align: center;
	                    font-weight: bold;
                        }
#works .projectDiv h4  {
                         color: #979797;
                         background: #eee;
                         font-size: 12px; 
                         width: 225px;
                         padding: 13px 0;
                         text-align: center;
                        
                         }
#works .projectDiv:hover h3, #works .projectDiv:hover h4 {
	background: #7e5c88;
	color: #fff;
}*/


/* #work                  {
	                    overflow: hidden;
                        }

 .projectDiv            {
=======
#works                  {
	                    overflow: hidden;
                        }


.projectDiv            {
>>>>>>> b466c49d1d864e8b3a663ac1dbbeffe6954d9f1b
		                overflow: hidden;
	                    width: 166.2px;
	                    width: 23.437%;
	                    float: left;
	                    margin: 28px 20px auto auto;
	                    margin: 38px 2.08% auto auto;
	                    background-color: #eeeeee;
                        }
                        #work .projectDiv    {float: left;}

.latest-project-work-img{
	                     width: 225px;
		                 height: 225px;
	                     position: relative;
	                     left: 50%;
	                     -webkit-transform: translate(-50%, 0);	
	                     -ms-transform: translate(-50%, 0);	
	                     -moz-transform: translate(-50%, 0);	
	                     -o-transform: translate(-50%, 0);
	                     transform: translate(-50%, 0);
                         }
.desc, .latest-title    {
	                     font-size: 0.75em;
	                     text-align: center;
	                     padding: 12px;
	                     color: #979797;
	                     text-transform: capitalize;
                         }

.latest-work-title      {
	                     padding: 58px 0 10px 0;
	                     border-bottom: 1px solid #e6e6e6;
	                     text-transform: capitalize;
	                     font-weight: 100;
                         }

.latest-title           {
                         font-weight: bold;
                         color: #333;
                         }
.projectDiv:hover       {
	                     background: #7e5c88;
	                     color: #fff;
                         }

.latest-a                {
	                     text-decoration: none;
<<<<<<< HEAD
                         } */

 #works h2{
 color: #333;
 font-size: 16px;
 margin-bottom:50px; 

 }                        
 #works .projectDiv{
 	float: left;
 	margin-right:20px; 
 }                        
#works .projectDiv h3{
	color: #333;
	background: #eee;
	font-size: 12px;
	width: 225px;
	padding: 13px 0;
	text-align: center;
	font-weight: bold;


}


#works .projectDiv h4{
	color: #979797;
	background: #eee;
	font-size: 12px;
	width: 225px;
	padding: 13px 0;
	text-align: center;

}

#works .projectDiv:hover h3,#works .projectDiv:hover h4{
background-color:#7e5c88 ;
color: #fff;
}


/* content */

.content-title {
	margin-bottom: 28px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;		
}
 

 .content-title {
	margin-bottom: 28px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;		
}

.from-the-vogue-img-title {
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #7e5c88;	
	text-transform: capitalize;
}

.from-the-vogue-img-date  {
	font-size: 0.8em;	
	margin-bottom: 9px;
	color: #979797;	
	text-transform: capitalize;	
}

.from-the-vogue-img-text  {
	font-size: 0.9em;
	line-height: 16.8px;
	width: 300px;	
	color: #979797;
}



.about-name {
	width: 137px;
	/* margin: 0 auto; */
	text-align: center;
}

.about-author-name {
	font-size: 0.9em;
	margin-bottom: 4px;	
	color: #979797;
	font-weight: bold;
	text-transform: capitalize;
}

.about-author-desc {
	font-size: 0.9em;
	margin-bottom: 4px;
	color: #979797;
}

.about-author-link {
	font-size: 0.9em;
	margin-bottom: 4px;
	color: #7e5c88;
	text-transform: capitalize;
}

.from-the-blog{

	float: left;
	width: 80%;


 
}

.about-us{
	float: right;
	width: 20%;
}


 /* pjesa e footer-it */                        
footer{
 padding-top: 50px;
}
footer a{
 	text-decoration: none;
     color: #7e5c88;

 }

footer  p,a{
	color: #999999;
	font-size: 10px;
	line-height: 1.3;

}
/* pozicionimi i diiv elementeve */
.footer-content-1{
	width: 226px;
	float: left;
	padding-right: 15px;
	padding-bottom: 50px; 
	padding-left: 5px;

}

.footer-content-1 h1{
	font-size: 12px;
	color: #999999;
	padding-bottom: 1em;
	font-weight: bold;
	}

.footer-content-1 h1 span {
	font-weight: normal;

}
.clearBoth { clear:both; }

.copyright {
 padding: 5px;

}
.footer-content-1 ul{
	padding: 0px;
}
.footer-content-1 li{
	list-style: none;
	padding-top: 4px;
	padding-bottom: 3px;
	border-bottom: solid #e0e0e0;
	border-width: 1px;

}
.copyright span{
	float:right;
}
#rm{
	float: right;
}
/* ndarja e seksioneve te faqes krijimi i hijes eliptike */
.shadow {
	
    padding-bottom: 20px;
    display: flex;
    background: #fff;
    position: relative;
}

.shadow::before {
    content: "";
    height: 10px;
    width: 80%;
    margin: 0 10%;
    position: absolute;
    bottom: 1px;
    z-index: -5;
    -webkit-box-shadow: 0 1px 2px #cacaca, 0 4px 5px #cacaca;
    -moz-box-shadow: 0 1px 2px #cacaca, 0 4px 5px #cacaca;
    box-shadow: 0 1px 2px #cacaca, 0 4px 5px #cacaca;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

}
footer nav ul li span{
	padding-left: 3px;
	font-size: 10px;
	color: #7e5c88;

}

/* kriijimi i ikonave te mediave sociale*/

.fa {
  padding: 5px;
  font-size: 30px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
  background:#7e5c88;
}
.fa-linkedin {
  opacity: 0.7;
  background: #999999;
  color: white;
}
.fa-twitter {
  opacity: 0.7;
  background: #999999;
  color: white;
}
.fa-pinterest {
  opacity: 0.7;
  background: #999999;
  color: white;
}
.fa-rss {
  opacity: 0.7;
  background: #999999;
  color: white;
}