@font-face {
  font-family: kng;
  src: url(Kind_and_Rich.otf);
}

#maindiv{
	margin-top: 120px;
	width: 100%;
	height: 420px;
	top: 50%;
	position:relative;
	background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../images/vg.jpg");
	animation: slider 9s ;
	animation-iteration-count:infinite;
}

@keyframes slider{
	0%{
	background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), 
		url("../images/vg.jpg");

	}
	50%{
	background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../images/vg2.jpg");

	}

}

#title{
	margin-top: 50px;
	margin-bottom: 0;
	margin-left: 25%;
	font-family: kng;
	font-size: 78px;
	text-align: center;
	width: 50%;
	color: #7e5c88;
	background-color: white;
}



#locationx{

margin-left: 25%
width: 100%;
height: 450px;
}
 h5{
	text-align: center;
}

 p{

	text-align: center;

}
.buttons {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-right: 20px; 
    font-size: 1rem;
    text-align: center;
    color: #fff;
    width: 150px;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: rgba(126,92,136, 0.8);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    
}
#buttonSubsc{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-right: 20px; 
    font-size: 1rem;
    text-align: center;
    color: #fff;
    width: 150px;
    text-shadow: 1px 1px 1px #000;
    border-radius: 5px;
    background-color: #7e5c88;
    }


.buttons:hover {
    background-color: rgba(121, 7, 242, 0.10);
}

.buttons:focus {
   box-shadow: inset 0px 0px 5px purple;
   outline: none;
}

#buttonSubsc:hover{
	background-color: rgba(126,92,136, 0.8);
}
.details{
		width: 50%
		margin-left:25%;
}

.style1 p{
	text-align: center;

}
.cd_num{
	width: 300px;
	height: 20px;
}
.enlg{
	height: 17px;
}
.data{
	width: 150px;
}

#table1{
	padding-top: 20px;
	width: 50%;
	background-color: white;
}
#table1 tr h5{
	border-top:  0.5px solid #979797;
	
	padding-top: 20px;
}

 p{
	text-align: left;
	font-size: 14px;
}
.review span{
	float: left;
}


#price{
	text-align: center;
	font-size: 13.5px;

}
#pricing{
	text-align: left;
	font-size: 13.5px;
}

.sp{
	float: right;
}
#totalBilled{
	font-weight: bold;
	font-size: 14.5px;
}
footer{
	background-color:#979797;
	padding-top: 20px;
	height: 500px;
	width: 1000px;
}
footer h4{
	padding-bottom: 15px;
	color: white;
}
footer #footerContainer   {
	font-size: 13.5px;
	margin-left: 12.5%;
	margin-right: 11.5%;
	color: white;

}
#divcol{
	outline: 2px solid white;
    outline-offset: 5px;
	column-count: 3;
	column-gap: 40px;
    column-rule-style: solid;
}
footer a{
	color: white;
}
#right{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;

}
#copyright{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
#pos{
  width: 180px;
  height: 230px;
  padding: 10px;
  border: 2px dotted #7e5c88;
  float: right;

}
#div2{
  width: 180px;
  height: 230px;
  padding: 10px;
  float: left;
}